title {
	color : red ;
	text-align : center ;
	font-size : 30px ;
	font-weight : bold ;
	font-family : Rockwell Extra Bold ;
}

a {
	color : blue ;
	font-size : 18px ;
	text-align : left ;
	font-style : italic ;
	font-family : Arial ;
}

p {
	color : black ;
	text-align : left ;
	font-size : 15px ;
	font-family : 
}
