h1 {
	color : red ;
	text-align : center ;
	font-size : 30px ;
}

a {
	color : blue ;
	font-size : 18px ;
	text-align : left ;
}

form {
	color : black ;
	font-size : 15px ;
	text-align : left ;
}

p {
	width : 80% ;
	height : 80 ;
}
