title {
	color : red ;
	text-align : center ;
	font-size : 30px ;
	font-weight : bold ;
}

a {
	color : blue ;
	font-size : 18px ;
	text-align : left ;
	font-style : italic ;
}

p {
	color : black ;
	text-align : left ;
	font-size : 15px
}
